body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.ticket {
  display: flex;
  background-color: #f2c777;
  border-radius: 8px;
  width: 742px;
  height: 233px;
  padding: 20px;
}

.ticket-content {
  flex-grow: 2;
  padding-right: 20px;
}

.ticket-header {
  width: 260px;
  height: 128px;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 55px;
}

.vip {
  display: flex;
  position: relative;
  gap: 30px;
  width: 82px;
  height: 44px;
  padding: 0px;
  margin-left: 7px;
  top: 42px;
}

.vip p {
  border: 1px solid black;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 11px 25px;
}

.ticket-details {
  position: relative;
  top: -187px;
  left: 269px;
  width: 218px;
  height: 128px;
}

.ticket-details p {
  display: flex;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 218px;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 25px;
}

.barcode {
  position: relative;
  width: 217px;
  height: 62px;
  margin-top: 10px;
  bottom: 220px;
  left: 269px;
  margin: 0;
  padding-top: 70px;
}

.ticket-image {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 20px;
  border-left: 2px dashed red;
  margin-top: -20px;
  margin-bottom: -20px;
}

.popcorn-container {
  position: relative;
}

.popcorn-box {
  width: 136.26px;
  height: 194.47px;
  rotate: 1.62deg;
  transition: transform 0.5s ease-in-out;
}

.popcorn-container:hover .popcorn-box {
  transform: translateY(-5px) rotate(-5deg);
}

.popcorn {
  position: absolute;
  width: 20px;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.small-popcorn1 {
  position: absolute;
  left: 0px;
  top: -200px;
}

.small-popcorn2 {
  position: absolute;
  left: 40px;
  top: -220px;
}

.small-popcorn3 {
  position: absolute;
  left: 90px;
  top: -205px;
}

.popcorn-container:hover .popcorn {
  opacity: 1;
  transform: translateY(-15px);
}