@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credit-card {
  width: 320px;
  height: 200px;
  border-radius: 12px;
  padding: 20px;
  font-family: "Encode Sans", cursive;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2852e8;
}

.credit-card-front {
  background: #2852e8;
  border-radius: 12px;
  margin-top: 25%;
  margin-bottom: 20px;
}

.information-wrapper {
  height: 50px;
}

.credit-card .number {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: bold;
}

.credit-card .information-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.credit-card-back .name {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Allura", cursive;
  text-transform: none;
  font-variant: normal;
  font-weight: 50;
  margin-top: 8px;
}

.credit-card-back {
  background: #2852e8;
  position: relative;
  border-radius: 12px;
  margin: 0 auto;
}

.credit-card-front .name {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.credit-card-front .information-wrapper {
  position: relative;
  top: 20px;
}

.credit-card-front .information-wrapper > p + p {
  width: 60px;
  font-size: 1.7em;
  margin-left: -10px;
}

.credit-card-front .information-wrapper > p {
  width: 60px;
  font-size: 1.2em;
  margin-left: 10px;
}

.credit-card-front .number {
  position: relative;
  font-size: 1.7em;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 10px;
  top: 35%;
}

.credit-card-back .magnetic-strip {
  width: 100%;
  height: 40px;
  background: black;
  position: absolute;
  left: 0;
}

.credit-card-back .information-wrapper {
  display: flex;
  position: absolute;
  justify-content: space-between;
  font-size: 1.6em;
  background: lightgray;
  padding-left: 15px;
  padding-right: 2px;
  padding-top: -10px;
  width: 55%;
  height: 20%;
  margin: 0;
  top: 75px;
  text-transform: uppercase;
}

.information-wrapper .number {
  font-style: italic;
  font-size: 0.6em;
  margin-top: 0px;
}